body {
    font: 20px arial, sans-serif;
}

.navbar {
    background-color: rgb(152, 207, 181);
}

.logo-um {
    margin: 0px 70px 0px 70px;
    width: 80px;
    height: 80px;
}

.quem-somos {
    background-color: rgb(140, 219, 255);
    color: rgb(111, 0, 255);
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: rgb(205, 181, 250);
}

.servicos {
    background-color: rgb(255, 185, 240);
}

.bgfooter {
    background-color: rgb(255, 206, 174);
    font-family: monospace;
    font-size: 16px;
}